services:
  hmpps-prisoner-finance-poc-api:
    build:
      context: .
    networks:
      - hmpps
    container_name: hmpps-prisoner-finance-poc-api
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - HMPPS_AUTH_URL=http://hmpps-auth:8080/auth
      - DB_SERVER=hmpps-prisoner-finance-poc-db
      - DB_NAME=nomis_sync
      - DB_USER=postgres
      - DB_PASS=postgres
    depends_on:
      hmpps-auth:
        condition: service_started
      hmpps-prisoner-finance-poc-db:
        condition: service_healthy
        restart: true

  hmpps-prisoner-finance-poc-db:
    container_name: hmpps-prisoner-finance-poc-db
    image: postgres:latest
    restart: always
    networks:
      - hmpps
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=nomis_sync
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  hmpps-auth:
    image: quay.io/hmpps/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "8090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0

networks:
  hmpps:

volumes:
  postgres_data:

